@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body {
    background-color: #F7F3F1;
    color: #7B7560 !important;
    margin: 0;
    padding: 0;
    font-family: 'Abhaya Libre', serif !important;
    overflow-x: hidden;
}

#hero {
    background: url('./assets/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero .top-left {
    position: absolute !important;
    left: 0;
    top: 0;
}

#hero .top-right {
    position: absolute !important;
    right: 0;
    top: 0;
}

#hero .bottom-right {
    position: absolute !important;
    right: 0;
    bottom: 0;
}

#hero .bottom-left {
    position: absolute !important;
    left: 0;
    bottom: 0;
}

#hero h1 {
    position: relative;
    z-index: 10 !important;
    font-size: 50px;
    font-weight: 700;
}

#hero p {
    position: relative;
    z-index: 10 !important;
}

#pembuka {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pembuka h1 {
    font-size: 40px;
    font-family: 'Parisienne', cursive !important;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

#pembuka .title,
#love_story .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.couples {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.couples h1 {
    font-size: 200px !important;
    font-weight: bold;
}

.circle {
    border-radius: 50%;
    object-fit: cover;
}

.couple-image {
    width: 200px;
    height: 200px;
}

.couples .couple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.couples .couple p.nama {
    font-size: 30px;
    font-weight: bold;
}

#love_story {
    background: url('./assets/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100vw;
}

#gallery {
    height: auto;
    width: 100vw;
    padding: 20px;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-images .gallery-image {
    width: 32%;
    height: 500px;
    margin-bottom: 20px;
    object-fit: cover;
}

#tgl_acara {
    height: 100vh;
    width: 100vw;
    background-color: #F7F3F1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
}

#tgl_acara .bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
}

#tgl_acara .bottom-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    transform: scaleX(-1);
}

#tgl_acara h3 {
    font-family: 'Parisienne', cursive !important;
    font-size: 40px;
}

.couple-initials {
    display: flex;
    flex-direction: row;
}

.couple-initials h1 {
    font-size: 100px !important;
    z-index: 10;
}

.couple-date {
    display: flex;
    align-items: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.countdown div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-date {
    font-size: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

h1,
h3,
p {
    z-index: 10;
}

.couple-initials .text-indah {
    font-family: 'Parisienne', cursive !important;
    margin-left: 10px;
    margin-right: 10px;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

@media only screen and (max-width: 600px) {
    .couples {
        flex-direction: column;
    }

    .couples p {
        text-align: center;
    }

    #pembuka {
        height: auto !important;
        padding: 5px !important;
    }

    #hero {
        background: none;
    }

    #love_story .row.first {
        flex-direction: column-reverse;
    }

    .gallery-images .gallery-image {
        height: 200px;
    }
}