@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.mempelai-wrapper {
    position: relative;
    z-index: 10;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mempelai {
    margin-top: 30px;
    font-size: 51px !important;
    font-family: 'Great Vibes', cursive;
}


/* THEME TEXT */

.text-pink_flower {
    color: #F9C4C7 !important;
}

.text-red_roses {
    color: #DE0000 !important;
}

.border-pink_flower {
    border: 2px solid #F9C4C7;
}

.border-red_roses {
    border: 2px solid #DE0000;
}

.text-aesthetic {
    color: #8C754F !important;
}

.border-aesthetic {
    border: 2px solid #8C754F;
}

.text-elegant_blue {
    color: #8891B0 !important;
}

.border-elegant_blue {
    border: 2px solid #8891B0;
}

.text-elegant_cream {
    color: #183153 !important;
}

.border-elegant_cream {
    border: 2px solid #183153;
}

.text-elegant_navy {
    color: #1a1e27 !important;
}

.border-elegant_navy {
    border: 2px solid #1a1e27;
}

.text-kembang_sepatu {
    color: #8c7261 !important;
}

.border-kembang_sepatu {
    border: 2px solid #8c7261;
}

.text-sweet_purple {
    color: #564776 !important;
}

.border-sweet_purple {
    border: 2px solid #564776;
}

.text-maroon_flower {
    color: #a05e60 !important;
}

.border-maroon_flower {
    border: 2px solid #a05e60;
}

.text-summer {
    color: #A88171 !important;
}

.border-summer {
    border: 2px solid #A88171;
}


/* END OF THEME TXT */

.and {
    font-size: 71px !important;
}

.mempelai-img {
    object-fit: cover;
    width: 110px !important;
    height: 110px !important;
    border-radius: 50%;
    margin-top: 78px;
}

.mempelai-img-frame {
    top: 50px;
    position: absolute;
    width: 170px !important;
    height: 170px !important;
    border-radius: 50%;
    opacity: 0.5;
}

.text-right {
    text-align: right;
}

.text-secondary {
    color: #918985;
}

.text-main {}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 15px;
}

.icon {
    font-size: 50px !important;
}

.counter {
    display: flex;
}

.counter span {
    width: 40px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    font-size: 14px;
    border-radius: 20px;
    background-color: white;
}

.lokasi-wrapper {
    border: none !important;
    width: 400px;
    height: 400px;
}


/* paraloid image effect */

.polaroid {
    position: relative;
    width: 220px;
}

.polaroid img {
    margin-top: 10px;
    border: 10px solid #fff;
    border-bottom: 10px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

.rotate-right {
    transform: rotate(10deg);
}

.rotate-left {
    transform: rotate(-10deg);
}


/* galery */

.gallery-wrapper {}


/* navigasi  */

:root {
    --animate-delay: 0.5s;
}

.tamu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sambutan-tamu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
    left: 0;
    top: 0;
    z-index: 999000;
    width: 100%;
    height: 100%;
    background-color: white;
    /* opacity: 0.5; */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 400px) {
    .counter span {
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 30px 10px 30px;
        font-size: 14px;
        border-radius: 20px;
        background-color: white;
    }
}
